nav.cl-effect-2
    -var items = { 'alltrucks':'All Trucks', 'about':'About', '/':'Logo', 'support':'Support', 'help':'Help'}
    -each val, key in items
        -if (key == '/')
            a(href="/")
                img#logo(src="/images/logo.png")  
        -else if (id == key)
            a(href='/#{key}')
                span.selected(data-hover="#{val}") #{val}    
        -else
            a(href='/#{key}')
                span(data-hover="#{val}") #{val}