<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wandering Lunch Admin | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")" />
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="/admin">
                <img srcset="/images/wl-sm.png 95w,
                            /images/wl.png 368w"
                    sizes="(max-width: 450px) 95px,
                            368px"
                    src="/images/wl.png" alt="Wandering Lunch Logo">
            </a>
        </div>
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/admin/truck/">Add Truck</a>
                </li>
                <li>
                    <a href="/admin/location/">Add Location</a>
                </li>
                <li>
                    <a href="/admin/sub/">Add Sub</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/admin/trucks">Trucks</a>
                </li>
                <li>
                    <a href="/admin/locations">Locations</a>
                </li>
                <li>
                    <a href="/admin/subs">Subs</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div>
        </div>
        <div>
            @System.Reflection.Assembly.GetEntryAssembly().GetName().Version
        </div>
    </footer>
    <script src="~/js/bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
