<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(((string) ViewData["Site"]).ToUpper()) Food Truck Finder | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/tobi.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")" />
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="/@ViewData["Site"]">
                <img srcset="/images/wl-sm.png 95w,
                            /images/wl.png 368w"
                    sizes="(max-width: 450px) 95px,
                            368px"
                    src="/images/wl.png" alt="Wandering Lunch Logo">
            </a>
        </div>
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/@ViewData["Site"]/alltrucks">All Trucks</a>
                </li>
                <li>
                    <a href="/@ViewData["Site"]/map">Map</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div>
            <a href="http://twitter.com/peppage">Twitter</a> | 
            <a href="https://github.com/peppage/wanderinglunch">Github</a>
        </div>
        <div>
            @System.Reflection.Assembly.GetEntryAssembly().GetName().Version
        </div>
    </footer>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
        <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
        </script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-4098082757736151",
                enable_page_level_ads: true
            });
        </script>
    </environment>
    <script src="~/js/tobi.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
