<div class="truck">
    <div class="truck__name">
        <a href="/truck/@Model.Truck.TwitName">
        @Model.Truck.Name
        </a>
    </div>
    <div class="truck__location">
        @Model.Location.Display
    </div>
    <div>
        @Model.Truck.LastUpdate
    </div>
    <div class="truck__image">
        @if(Model.Image != null && !string.IsNullOrEmpty(Model.Image.Suffix))
        {
            <img src="@($"https://irs0.4sqi.net/img/general/width30{Model.Image.Suffix}")" alt="@Model.Truck.Name Menu">
        }
    </div>
</div>
