@page "{site?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Site"] = Model.Site;
}

@if(Model.Zones.Count()== 0) {
    <h1>Your hunger cannot be satisfied, no trucks are tweeting</h1>
    <p>If it's late, bookmark the site and come back around lunchtime! <br></p>
    <p>There will be a list of trucks here, <a target="_blank" href="https://twitter.com/intent/tweet?text=Wandering Lunch&url=http://wanderinglunch.comnyc">tweet</a> at yourself so you don't forget.<br></p>
    <p>Check out <a href="nyc/alltrucks">a list of all the trucks</a> on the site while you wait.</p>
}
else
{
    @foreach (var zone in Model.Zones)
    {
        <div class="zone">
            <div class="zone__header">
                <h1>@zone</h1>
            </div>
        </div>
        <div class="zone__trucks">
            @foreach (var truck in Model.GetTrucks(zone))
            {
                <div class="truck">
                    <div class="truck__name">
                        <a href="/truck/@truck.Truck.TwitName">
                        @truck.Truck.Name
                        </a>
                    </div>
                    <div class="truck__location">
                        @truck.Location.Display
                    </div>
                    <div>
                        @Model.RelativeTime(truck.Truck.LastUpdate)
                    </div>
                    <div class="truck__image">
                        @if(truck.Image != null && !string.IsNullOrEmpty(truck.Image.Suffix))
                        {
                            <img src="@($"https://irs0.4sqi.net/img/general/width30{truck.Image.Suffix}")" alt="@truck.Truck.Name Menu">
                        }
                    </div>
                </div>
            }
        </div>
    }
}
